body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 25px;
    
}
/* navbar style */
.fixed-top.scrolled {
    background-color: #000 !important;
    transition: background-color 200ms linear;
  }

.navbar-brand {
    border-left: 4px solid #15A055;
    padding-left: 10px;
    padding: 50px;
    font-size: 40px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 8px;
  

}
.navbar-nav .active{
    color: #15A055 !important;
    
}

.navbar-nav .nav-item{
    color: #fff;
    font-size: 20px;
}

.navbar-nav .nav-item:hover{
    color: #15A055 !important;
    font-size: 20px;
}
.bg-header-navbar{
background: inherit;
}
 
.bg-header-navbar_scroll{
    background: black;
    }
.bg-header-navbar a{
    color: #fff;
}

#header {
    height: 100vh;
    
    color: #fff;
}
.header a{
    color: #fff;
}
.bg-header-navbar a{
    color: #fff;

}

.carousel{
    height: 100vh;
}
.carousel-item{
   
 
  
   height: 100vh;

}
.slider1{
    
    background: linear-gradient( rgba(29, 28, 28, 0.45), rgba(116, 111, 111, 0.45)),url("../IMG/1.jpg")no-repeat;
    background-size: cover;
}

.slider2{
    background: linear-gradient( rgba(29, 28, 28, 0.45), rgba(116, 111, 111, 0.45)),url("../IMG/2.jpg") no-repeat;
    background-size: cover;
}
.slider3{
    background: linear-gradient( rgba(29, 28, 28, 0.45), rgba(116, 111, 111, 0.45)),url("../IMG/3.jpg") no-repeat;
    background-size: cover;
}
.slider4{
    background-size: cover;
    background: linear-gradient( rgba(15, 15, 15, 0.45), rgba(34, 33, 33, 0.45)),url("../IMG/4.jpg")no-repeat;
}



.text-slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header_slider_para{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.header_slider_para_p1 {
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}




#slider_link{

    border: none;
    border-radius: 25px ;
    padding: 15px 45px;
    background: #15A055;
    color: #fff ;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

#slider_link:hover {
    color: #15A055;
    background: #fff;
}
.card{
    position: relative;
}

.icon_about{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    border: 3px solid #fff;
    
    border-radius: 50%;
    padding: 20px;
    background: white;
    color: #15A055;
   
}

.icon_about1_basic{
    background: white;
    color: #15A055;
}
.icon_about_hover{ 
    color: white;
    background: #15A055;
}

/* end header */


/* section 1 */
.col_dark_black_color{
    color: #fff;
    background: black;
}

.col_black_color{
    background: linear-gradient( to bottom  ,rgba(8, 8, 8, .6), rgba(7, 0, 0, 0.7))   ;
    color: #fff;
}

/* section about */
.about{
    background: linear-gradient( rgba(224, 228, 228, 0.8), rgba(239, 239, 243, 0.9)),url("../IMG/pexels-photo-346885.jpeg") no-repeat;
background-repeat: no-repeat;
background-size: cover;
background-origin: top;
}
.h1_style{
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
hr{
    width: 50px;
    padding-bottom: 2px;
    background: #15A055;
    color: #15A055;
}

/* services */

.flex-services{
    display:flex;
    flex-direction: row;
    

}
.flex-services .fa{
    font-size: 17px;
    color: #15A055;
}
.flex-service-col1{
    align-items: flex-start;
}

.flex-service-col2{
    align-items: center;

}
.flex-service-col2 h4{
    color: black;
    
    font-size: 27px;
    font-weight: 700;
}


#call{
    color: #fff;
    background: linear-gradient( rgba(18, 106, 116, 0.3), rgba(21, 131, 143, 0.5)),url("../IMG/1pexels-photo-1820563.jpeg") no-repeat;
    
    background-size: cover;
    background-origin: top;
}
#btn-change{
    border-color: #fff ;
    color: #fff ;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 15px;
}
#btn-change:hover{
background: #15A055;
}

/*progress */
.progress{
    margin:  20px 0px; 
    border-radius: 20px;
}

.progress .justify-content-between{
    color: #fff;
    font-size: 17px;
    
}
.progress-bar{
    border-radius: 3px;
}
/* count */
.fact{
    
    background: linear-gradient( rgba(247, 246, 246, 0.7),rgba(246, 248, 246,.8)) ,url("../IMG/1pexels-photo-1820563.jpeg");
    
    background-attachment: fixed;
    background-size: cover;
}
.count{
    color: #15A055;
    font-size: 40px;
    font-weight: 600;
}

/* profillio */

.card-img-profilio{
    position: relative;
   
}
.protofilo_icon_group{
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%,-20%);
}
.protofilo_icon{
    padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    margin-right: 15px;
    opacity: 0;
    transition: .4s ease-in;

}

.img-continer{
    background: #000;
    opacity: 1;



}

/* 
.img_container_style{
    background: #000;
} */
.img_container_style:hover{
    opacity: .4;
}
.card-img-profilio:hover .img-card-icon-opcity{
    
    opacity: .1;
    
 
 
 
}

.card-img-profilio:hover .protofilo_icon{
    opacity: 1;
}

#client img{
width: 170px;

}


.carousel1{
    height: 200px !important;
}

.carousel2{
    height: 350px !important;
}

.carousel-indicators1 .unactive ,.carousel-indicators2 .unactive {
    

   
    display: inline-block;
    width: 10px;
    height: 10px;
   
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgb(56, 53, 53);
   
   
  }
  .carousel-indicators1 .active ,.carousel-indicators2 .active {
    width:10px;
    height: 10px;
    
    background-color: #15A055;
}

/* ////////////////////////////////////////// */
.profile_container{
    position: relative;
    background: rgba(0,0,0,1);

}
.profile_container:hover img{
    position: relative;
    opacity: .1;
    

    
}
.profile_container img{
  
    height: 300px;
    opacity: 1;
    transition: .3s ease-in;

}
.profile{
    position: absolute;
    
    color:#fff;
    
    transition: left top  1s ease-in;
   
    left: -50%;
            top: 0%;
            transform: translate(-50%,-50%);
            opacity: 0;
     
   


}

.profile_container:hover .profile{
    left: 50%;
    color: #fff;
    top: 50%;
    opacity: 1;

   

}

     
#contact .fas{
    color: #15A055;
    font-size: 30px;
}

#contact h3{
    font-size: 25px;
    color: rgb(65, 60, 60);
}
#contact p{
    font-size: 16px;
    color: #000;
}

#form ,#contact{
    background: rgb(233, 231, 231);
}
footer{
    background: rgb(39, 38, 38);
    padding: 20px 20px;
}
footer .col-md-3{
    color: #fff;
}

.footer-title{
    border-left: 2px solid #15A055;
    padding-left: 25px;
}
.link_usful{
    list-style: none;
}
.link_usful li{
    border-bottom: .1px solid rgb(119, 116, 116);
    padding-bottom: 10px;
}
.link_usful li a{
    color: #fff;
    font-size: 20px;
    margin-left:15px;
    text-decoration: none;

    
    
    
}
.link_usful li::before{
    content: ">";
    
}
.footer_icon .fab{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

.footer2{
    background: #000 !important;
    color: #fff;

}
#form input{
    margin-top:10px;
    margin-bottom: 10px; 

}
.protofilio_link{
    margin-right: 20px;
}

.send{
    margin-top: 15px;
    padding: 20px 25px;
}

.fa-facebook-f:hover ,.fa-twitter:hover ,.fa-google-plus-g:hover ,.fa-linkedin-in:hover{
background: #15A055;

}

@media (max-width: 876px) { 
    #client{
        display: none;
    } 
}
@media (max-width: 576px) { 

    .h1_style{
      
        font-size: 20px;
        font-weight: 400;
       
    }
    #client{
        display: none;
    } 

    .protofilo_icon_group{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-20%);
        }
        .protofilo_icon{
            padding: 5px;
            background: #fff;
            color: #000;
            border-radius: 50%;
            margin-right: 7px;
            opacity: 0;
            transition: .4s ease-in;
        
        }
        .protofilio_link{
            margin-right: 7px;
        }
        
        .navbar-brand {
            border-left: 2px solid #15A055;
        
            padding: 15px;
            font-size: 20px;
            font-weight: 500;
           
            letter-spacing: 2px;
          
        
        }
       
        
        .navbar-nav .nav-item{
           
            font-size: 10px;
        }
        
        .navbar-nav .nav-item:hover{
         
            font-size: 10px;
        }
       
    
        
        
       
        .header_slider_para{
            font-size: 20px;
            font-weight: 500;
            margin-top: 10px;
           
            
            
        }
        .header_slider_para_p1 {
            font-size: 10px;
          
        }
        #slider_link{

            
            border-radius: 25px ;
            padding: 10px 20px;
           
            font-size: 15px;
            
        
        }
        
 }